-content_for :head do
  = stylesheet_link_tag 'new' 
%header.image
  %h2 Logo
  .buttons_links
    %a.btn.btn-primary{:href => '#'} Dashboard
    %a.btn.btn-primary{:href => '#'} Themes
    .links
      %a{:href => '#'} 
        %strong Support
      %a{:href => '#'}
        %strong Logout
.container
  %p 
    %span.white List your 
    house 
    %span.white for
    rent
  .row
    .btn.btn-default.col-md-3.col-md-offset-4
      %a{:href => '#'} SUBMIT YOUR LISTINGS
  .and_image
    %span
.row.image
  %p.big Create a beautiful listing
  %p Lorem ipsum dolor sit amet con