-content_for :head do
  = stylesheet_link_tag 'new' 
%header.image
  %h2 Logo
  .buttons_links
    %a.btn.btn-primary{:href => '#'} Dashboard
    %a.btn.btn-primary{:href => '#'} Themes
    .links
      %a{:href => '#'} 
        %strong Support
      %a{:href => '#'}
        %strong Logout
.container
  %p 
    %span.white List your 
    house 
    %span.white for
    rent
  .row
    .btn.btn-default.col-md-3.col-md-offset-4
      %a{:href => '#'} SUBMIT YOUR LISTINGS
  .and_image
    %span
.row.image
  %p.big Create a beautiful listing
  %p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  .house_image
.container.data
  %h1 Represence manages your real estate presence.
  %p Ut enim ad minim veniam. quis nostrud exercitation ullamco labrois nisi ut aliquip ex ea commodo cosequat.
  .container
    .col-md-6
      %p.highlight Ut enim ad minim veniam, quis nostrud exercitation.
      %p uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .col-md-6.btn.btn-default
  .container
    .col-md-6
      %p.highlight Ut enim ad minim veniam, quis nostrud exercitation.
      %p uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .col-md-6.btn.btn-default
  %hr
  %p
    %span.msg_image
    Any questions?
    %span.pull-right
      See the themes we have in store for you.
  %hr
.footer.footer_image
  %p.lead Footer
